extends ../includes/main-layout.pug

block info 
    link(rel="stylesheet", href="/css/create-group.css")
    script(src="/js/ux.js", type="text/javascript") 
block mainBody 
    main
        .crd
            if errMsg.length > 0
                .errors
                    each msg in errMsg
                        p.errMsg #{msg}
            h2 Enter channel details
            form(action="/create-group", method="POST", enctype="multipart/form-data")
                input(type="hidden", value=csrfToken, name="_csrf")

                input.field(type="text", placeholder="Enter channel name", name="feedName", value=oldInput.channelName)
                textarea.field(name="details", cols="30", rows="10", value= oldInput.details, placeholder= "Enter group details")
                    | #{oldInput.details}

                p.left
                    label(for="#img") Enter the channel logo.
                    input(type="file", name="imgURL", onchange="changeFile('img')" )#img 
                    label.del.hide(onclick="removeFile('img')")#del-img x

                input.field(type="password", name="password", placeholder="Enter the channel join-password.", autocomplete="off")
                input.field(type="password", name="pconf", placeholder="Confirm the channel join-password.", autocomplete="off")
                .centre-align
                    button.primary(type="SUBMIT") CREATE CHANNEL
